"bugnode_modules
build
*.log
lib
coverage.json
allFiredEvents
scTopics
coverageEnv
deploy/log/*.log
deploy/scripts/atonomi-abis.js
deploy/scripts/atonomi-consts.js
.DS_Store
.vscode
output/gasOutput.csv
deploy/scripts/input.json
deploy/scripts/output
.zos.session
zos.local.json
node_modules
coverage/lcov-report/contracts/NetworkSettings.sol.html
coverage/index.html
coverage/contracts/DeviceManager.sol.html
coverage/contracts/EternalStorage.sol.html
coverage/contracts/NetworkMemberManager.sol.html
coverage/contracts/NetworkSettings.sol.html
coverage/contracts/Registry.sol.html
coverage/contracts/ReputationManager.sol.html
coverage/contracts/TokenPool.sol.html
coverage/contracts/index.html
coverage/contracts/mocks/MockSolHash.sol.html
coverage/contracts/mocks/index.html
coverage/lcov-report/index.html
coverage/lcov-report/contracts/DeviceManager.sol.html
coverage/lcov-report/contracts/EternalStorage.sol.html
coverage/lcov-report/contracts/NetworkMemberManager.sol.html
coverage/lcov-report/contracts/Registry.sol.html
coverage/lcov-report/contracts/ReputationManager.sol.html
coverage/lcov-report/contracts/TokenPool.sol.html
coverage/lcov-report/contracts/index.html
coverage/lcov-report/contracts/mocks/MockSolHash.sol.html
coverage/lcov-report/contracts/mocks/index.html
coverage/index.html
coverage/contracts/DeviceManager.sol.html
coverage/contracts/EternalStorage.sol.html
coverage/contracts/NetworkMemberManager.sol.html
coverage/contracts/NetworkSettings.sol.html
coverage/contracts/Registry.sol.html
coverage/contracts/ReputationManager.sol.html
coverage/contracts/TokenPool.sol.html
coverage/contracts/index.html
coverage/contracts/mocks/MockSolHash.sol.html
coverage/contracts/mocks/index.html
coverage/lcov-report/index.html
coverage/lcov-report/contracts/DeviceManager.sol.html
coverage/lcov-report/contracts/EternalStorage.sol.html
coverage/lcov-report/contracts/NetworkMemberManager.sol.html
coverage/lcov-report/contracts/NetworkSettings.sol.html
coverage/lcov-report/contracts/Registry.sol.html
coverage/lcov-report/contracts/ReputationManager.sol.html
coverage/lcov-report/contracts/TokenPool.sol.html
coverage/lcov-report/contracts/index.html
coverage/lcov-report/contracts/mocks/MockSolHash.sol.html
coverage/lcov-report/contracts/mocks/index.html
coverage/lcov-report/contracts/mocks/index.html
