node_modules
build
*.log
lib
coverage.json
allFiredEvents
scTopics
coverageEnv
deploy/log/*.log
deploy/scripts/atonomi-abis.js
deploy/scripts/atonomi-consts.js
.DS_Store
.vscode
output/gasOutput.csv
deploy/scripts/input.json
deploy/scripts/output
.zos.session
